{
	auto_https disable_redirects
}

http://*.{{ caddy_bench_domain }} {
	redir https://{host}{uri} permanent
}

https://*.{{ caddy_bench_domain }} {
	tls {
		dns duckdns {env.DUCKDNS_API_TOKEN} {
			override_domain {{ caddy_duckdns_domain }}
		}
	}

	route {
		import /etc/bench/caddy/generated/*.caddy
		respond "Bench Caddy is running"
	}
}
