{
  "domain": {{ caddy_bench_domain | to_json }},
  "templateRepositoryPrefix": {{ bench_template_repository_prefix | to_json }},
  "network": {{ caddy_network | to_json }},
  "caddyContainer": {{ caddy_container | to_json }},
  "generatedDirectory": {{ (caddy_directory + '/generated') | to_json }},
  "projectsDirectory": {{ bench_projects_directory | to_json }}
}
